

<main class="howto">
<h1>How to use Muse</h1>
<p class="howtoP">Welcome! The Muse app is here to help guide you to a moment of inspiration, to create a spark. </p>
<h3 class="howtoH">Spark</h3>
<p class="howtoP">The spark page will provide you with a random image and 3 random colors. Use all of these to create a piece.</p>

<p class="howtoP"> Not inpired? Refresh the page, you will be given a new photo and 3 new colors.</p>
<h3 class="howtoH">Queue</h3>
<p class="howtoP">Sometimes we feel that spark but are not quite ready to make something new. That's okay. You can save all sparks to your queue for later. However, do this, and you will be given brand new colors when you revisit them.</p>
<h3 class="howtoH">Flare</h3>
<p class="howtoP">Once you have finished, you'll be directed to a photo upload page. Upload a photo of your new piece and it will display on your flare page. This shows your works, along with the spark that inspired them.</p>
</main>