<p>Upload Flare </p>


<form action="/photoupload" method="POST" enctype="multipart/form-data">
    <label for="inputFile">Image</label>
    <input type="file" name="inputFile">
    <button type="submit" class="btn btn-primary">Upload Image</button>
</form>