
* {
  box-sizing: border-box;
  /* position: relative; */
  margin: 0 auto;
  /* text-align: center; */
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #d9cfa9; 
  background-image: url('https://cdn.pixabay.com/photo/2018/05/12/18/41/villa-farnesina-3394269_960_720.jpg');
  background-size: cover;
  color:#2a4142;
}

main {
  padding: 30px;
  background-color: aliceblue;
}

.howto {
  max-width: 900px;
  padding: 20px;
  background-color: #d9cfa9; 
  border: 10px solid whitesmoke; 
  margin-top: 25px;
  background-image: url('https://cdn.pixabay.com/photo/2018/05/12/18/41/villa-farnesina-3394269_960_720.jpg');
  background-blend-mode:screen;
}

.howtoP {
  padding: 15px;
  font-size: 20px;
}

header {
  background-image:  url('https://cdn.pixabay.com/photo/2018/05/12/18/41/villa-farnesina-3394269_960_720.jpg');
  background-blend-mode: screen;
  background-size: cover;
  border-bottom: 2px solid #a3182d;
  height: 120px;
  text-align: center;
}

.name {
  display: inline-block;
  /* position: absolute;
  left: 20px; */
  font-size: 50px;
  width: 100px;
  color: #f2e9eb;  
}

.spark {
  display: block;
  position: relative;
  background-color: whitesmoke;
  width: 100px;
  left: auto;
  color: #f2e9eb;
}

a {
  display: inline-flex;
  right: 20px;
  color: #2a4142;
  text-decoration: none;
}

img {
  border: 20px solid #e8e4d3;
  border-bottom: 75px solid #e8e4d3;
}

.artistP {
  z-index: 1;
  position: relative;
  top: -68px;
  left: auto;
  right: auto;
  background: none;
}

.titleP {
z-index: 1;
position: relative;
top: -68px;
left: auto;
right: auto;
background: none;
}

.colors {
  position: relative;
  top: -100px;
  left: -300px;
  height: 50px;
  width: 50px;
}

ul {
  display: inline-block;
  position: absolute;
  text-decoration: none;
  margin-right: -1000px;
}

li {
  display: inline-block;
  margin: 10px;
  padding: 0px;
  text-decoration: none;
}

img {
  max-width: 800px;
  max-height: 700px;
}