
* {
box-sizing: border-box;
background-color: #781c3d; 
position: relative;
margin: 0 auto;
text-align: center;
}

h1 {
  position: relative;
  background-color: whitesmoke;
  width: 100%;
  
  left: -720px;
  color: #f2e9eb;
}

a {
  text-decoration: none;
}

body {

  background-color: #781c3d;
  color: #f2e9eb;
}
div {

  height: 50px;
  width: 50px;

}

li {
  display: inline-block;
  position: absolute;
  margin: 10px;
  text-decoration: none;
  right: 00px;
  
}





img {
  max-width: 800px;
  max-height: 700px;

}